@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-3xl font-bold mb-3;
}
h2 {
  @apply text-2xl font-bold mb-3;
}
h3 {
  @apply text-xl font-medium mb-2;
}
.paragraph {
  @apply mb-2 text-gray-500 text-sm;
}
.part_of_code {
  @apply bg-[#06212e] px-3 py-1 rounded-lg text-white italic;
}
.map {
  height: 400px;
  width: 100%;
  max-width: 720px;
  margin: 10px 0px;
}

