@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-3xl font-bold mb-5;
}
h2 {
  @apply text-2xl font-bold mb-5;
}
h3 {
  @apply text-xl font-bold mb-5;
}
.paragraph {
  @apply mb-4 text-gray-500 text-sm;
}
.map {
  height: 400px;
  width: 100%;
  max-width: 720px;
}